<div class="one-third">
    <div class="selector" id="{{service}}-{{name}}">
        <div class="thumbnail"><img src="{{thumbnail}}" /></div>
        <div class="info">
            <span class="name">{{name}}</span><br>
            <span class="title">{{title}}</span>
        </div>
        <div class="viewers">
            {{viewers}} viewers
        </div>
        <div class="serviceLogo">
            <img src="images/{{service}}-logo.png" class="serviceLogo" />
        </div>
    </div>
</div>