<div class="one-half">
    <div class="selector" id="{{service}}-{{name}}">
        <div class="thumbnail"><img src="{{thumbnail}}" /></div>
        <div class="info">
            <span class="name">{{name}}</span>{{#if game}} playing <span class="game">{{game}}</span>{{/if}}<br>
            <span class="title">{{title}}</span>
        </div>
        <div class="viewers">
            {{viewers}} viewers
        </div>
        <div class="serviceLogo">
            <img src="images/{{service}}-logo.png" class="serviceLogo" />
        </div>
    </div>
</div>