<div class="one-half">
    <div class="selector" id="{{service}}-{{name}}">
        <div class="thumbnail"><img src="{{image}}" /></div>
        <div class="info">
            <span class="name">{{name}}</span><br>
            <span class="title">{{title}} {{#if subtitle}} - <span class="game">{{subtitle}}</span>{{/if}}</span>
        </div>
        <div class="viewers">
            {{viewers}} viewers
        </div>
        <div class="serviceLogo">
            <img src="images/{{service}}-logo.png" class="serviceLogo" />
        </div>
    </div>
</div>